git+https://github.com/Mayuri-Chan/pyrofork
python-telegram-bot
git+https://github.com/Joelkb/cinemagoer
umongo
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
requests
bs4
datetime
pytz
aiohttp
cinemagoer
shortzy
PyLeaves==1.0.2
aiofiles
pyromod==1.5
jinja2
apscheduler
pyshorteners
pyromod
colorama
fuzzywuzzy
python-Levenshtein
