git+https://github.com/KurimuzonAkuma/pyrogram
python-telegram-bot
umongo
tgcrypto
pymongo[srv]
motor
marshmallow
requests
bs4
git+https://github.com/Joelkb/cinemagoer
datetime
pytz
aiohttp
PyLeaves
cinemagoer
shortzy
aiofiles
pyromod
jinja2
apscheduler
pyshorteners
pyromod
colorama
fuzzywuzzy
python-Levenshtein
